body {
  text-align: center;
  background: #222;
  -webkit-font-smoothing: antialiased;
}

.button {
  border: none;
  padding: 14px;
  color: #fff;
  margin: 10px auto;
  background: #39b;
  font-weigyht: 900;
  border-radius: 4px;
}

.optionsContent > button {
  display: inline-block;
  padding: 1em;
  border-radius: 4px;
  border: none;
  margin-top: 1em;
  color: #fff;
  font-weight: 900;
}

.confirm_ {
  background: #3d9;
}

.cancel_ {
  background: #d30;
}

.options_ {
  margin: 0;
  transition: all .4s ease-in-out;
  opacity: 0;
  top: -100%;
  position: fixed;
  width: 100%;
  height: 100%;
}

.shadowee {
  -webkit-box-shadow: 13px 17px 8px -1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 13px 17px 8px -1px rgba(0, 0, 0, 0.56);
  box-shadow: 13px 17px 8px -1px rgba(0, 0, 0, 0.56);
}

.shadoweemin {
  -webkit-box-shadow: 3px 3px 2px -1px rgba(110, 110, 110, 0.56);
  -moz-box-shadow: 3px 3px 2px -1px rgba(110, 110, 110, 0.56);
  box-shadow: 3px 3px 2px -1px rgba(110, 110, 110, 0.56);
}

.options_ > .optionsContent {
  position: relative;
  margin: 2% auto;
  padding: 1em;
  min-width: 10em;
  max-width: 40em;
  background: #fff;
  font-weight: 900;
  color: #333;
  border-radius: 4px;
  border-top: 2em solid #39d;
}

.active .options_ {
  opacity: 1;
  top: 0%;
}

.disabled .options_ {
  opacity: 0;
  top: -100%;
}
